/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialog-container {
  mat-dialog-container{
    position: relative;
  }
}
.button-dialog-close {
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
